@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  letter-spacing: -0.025em;
}

::-moz-selection {
  color: white;
  background: #111111;
}

::selection {
  color: white;
  background: #111111;
}
